.about {
    padding: 0 0 60px 0;
}

.about_border {
    border: #ddd dashed 1px;
    padding: 80px 86px;
}

.titlepage h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    color: $white;
}

.about_text {
    float: right;
    max-width: 554px;
    width: 100%;
    text-align: left;
}

.about_text p {
    line-height: 33px;
    padding-top: 30px;
    font-weight: 400;
    padding-bottom: 40px;
    font-size: 17px;
}

.read_more {
    display: inline-block;
    background: transparent;
    color: $white;
    max-width: 225px;
    height: 67px;
    line-height: 67px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    transition: ease-in all 0.5s;
    border: $white solid 2px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}